.wrapper {
  width: 316px;
  display: flex;
  gap: 10px;
  color: black;
  padding: 5px 0 5px 15px;

  &:hover {
    background-color: #f5f6f8;
  }
}
.border {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid #dce1e6;
}
.user {
  margin: 0 0 10px 0;
  font-weight: 600;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message {
  font-size: 13px;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ava {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
